.container-contact-area{
    width: 100%;
    height: 100%;


    background-color: #000;
}

.area-contant-links-to-contact{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;
}

.context-contact{
    color: #E4E4E4;

    width: 90%;
    text-align: justify;
    margin:auto;

    padding: 30px;
}

.social-contacts{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}