.container-link-to-contact{
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    width: 100%;

    cursor: pointer;
}

.container-link-to-contact::before{
    content: '';
    position: absolute;
    bottom: -5px;
    height: 3px;
    width: 100%;
    background: #43ee25;

}



.a-to-link-contact{
    display: flex;
    align-items: baseline;
    gap: 10px;
    text-decoration: none;
}

#logo-to-link-contact{
    font-size: 26px;
    color: #E4E4E4;
}

.name-to-link-contact{
    color: #E4E4E4;
}