*{
    transition: all .3s;
}

.container-carrinho{
    background: #303030;
    width: 100vw;
    height: 100vh;
}

.context-area{
    background: #E4E4E4;
    width: 70%;

    margin: auto;
    padding: 30px;

    border-radius: 0px 0px 10px 10px;
}

.context-area-paragraph{
    text-align: justify;
    letter-spacing: -1px;
    line-break: auto;
}

@media screen and (min-width: 600px) {
    .context-area{
        width: 600px;
    }
    .context-area-paragraph{
        font-size: 20px;
    }
}